.gridpanel{
	&-proper{
		position: relative; 
		padding-bottom: 100px;
	}
	
	&-block{
		width: calc(100% - 150px);
		margin: 80px 200px 50px 40px; 
		border: $border;
		position: relative; 
		padding: 40px 50px;
		display: flex;
		@include tablet(){
			flex-direction: column;
			width: 100%;
			margin: 80px 0px;
		}
		&:before{
			content: '';
			position: absolute;
			height: 48px;
			width: 48px;
			background:{
				image: url('../img/mas.jpg');
				size: cover;
			}
			top: -24px;
			left: -24px;
		}
		.copy-block{
			width: 80%;
			position: relative;
			margin-right: 10px;
			&.grid-md:before{
				top: -10px;
				right: 5px;
			}
			@include tablet(){
				width: 100%;
			}
			.title{
				line-height: 37px;
				color: #3D3D3D;
				font-size: 37px;
				text-transform: uppercase;
				text-align: left;
				font-family: $rale;
				font-weight: 900;
				padding-bottom: 15px; 
				margin-bottom: 15px;
				position: relative;
				&:before{
					content: '';
					position: absolute;
					left: 0px;
					bottom: 0px;
					width: 100px;
					height: 5px;
					background: $teal;
				}
			}
			.copy{
				width: 90%;
				line-height: 29px;
				color: #7F7F7F;
				font-size: 18px;
				text-align: justify;
				font-family: $rale;
				font-weight: 400;
			}
		}//copy block
		.image-grid{
			position: relative;
			width: 800px;
			right: 00px;
			top: -0px; 
			margin-right: -170px;
			margin-top: -85px; 
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: baseline;
			align-content: stretch;
			@include tablet(){
				margin-top: 20px;
				width: 100%;
			}
		}
		.image-block{
			position: relative; 
			width: calc(98% / 2);
			height: 210px;
			top: 5px;
			margin-bottom: 15px;
			@include mobile(){
				width: 100%;
				height: 370px;
			}
			> div{
				width: calc(100% - 20px);
				height: calc(100% - 20px);
				right: -15px;
				top: 0px;
				z-index: 100;
				position: relative;
				background: {
					position: top center;
					size: cover;
					repeat: no-repeat;
				}
			}
			&:before{
				content: ' ';
				position: absolute;
				width: calc(100% - 20px);
				height: calc(100% - 20px);
				bottom: 0px;
				left: 0px;
				background: $teal;
				z-index: 50;
			}
		}

	}

}


.contactlist{
	&-proper{
		position: relative;
		padding-left: 120px;
		margin-bottom: 100px;
		&:before{
			content: '';
			box-shadow: 0px 8px 23px rgba(0,0,0,0.57);
			position: absolute;
			top: -10px;
			left: 40px;
			height: 48px;
			width: 48px; 
			background: {
				image: url('../img/arrows1.jpg');
				size: cover;
			}
		}
		> .title{
			line-height: 24px;
			color: #3D3D3D;
			font-size: 24px;
			text-transform: uppercase;
			text-align: left;
			font-family: $rale;
			font-weight: 900;
			margin-bottom: 20px;
		}
		.contact-block{
			position: relative;
			margin-bottom: 20px;
			> .title{
				font-size: 20px;
				color: $orange;
				font-family: $rale;
				font-weight: 800;
				line-height: 22px;
			}
			> .info-block{
				color: #3D3D3D;
				font-family: $rale;
				font-weight: 500;
				line-height: 19px;
			}
		}
	}// contactlist-proper


}


.contact-section{
	.form{

	&-section{
		position: relative;
	}

	&-proper{
		position: relative;
		padding-right: 40px;
		width: 100%;
	}

	&-block{
		border: $border;
		position: relative;
		padding: 30px 0px 30px 50px;
		width: 100%;
		.title{
			line-height: 34px;
		    color: $teal;
		    font-size: 28px;
		    font-family: $rale;
		    font-weight: 900;
		    margin-bottom: 30px;
		}
		[type="submit"]{
				margin-top:10px;
				padding-left: 60px;
				padding-right: 60px;
			}

		.input-proper{
			width: 106%;
			margin-bottom: 15px;
			position: relative;
			input, textarea{
				box-shadow: 0px 0px 35px rgba(0,0,0,0.3);
				border: 0px;
				padding: 15px 15px;
				width: 100%;
				font-size: 20px;
				line-height: 20px;
				color: #666666;
				font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
				font-weight: normal;
				font-style: normal;
				&::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
					color: #7F7F7F;
				    opacity: 1; /* Firefox */
				}

				&:-ms-input-placeholder { /* Internet Explorer 10-11 */
					color: #7F7F7F;
				}

				&::-ms-input-placeholder { /* Microsoft Edge */
					color: #7F7F7F;
				}
			} 
			textarea{
				resize: none;
				height: 100px;
			} 


		}

	}

}
}

/*the container must be positioned relative:*/
.custom-select {
  position: relative;
  font-family: Arial;
}
.custom-select select {
  display: none; /*hide original SELECT element:*/
}
.select-selected {
  background-color: #FFF;
  box-shadow: 0px 0px 35px rgba(0,0,0,0.3);
  position: relative;
}
/*style the arrow inside the select element:*/
.select-selected:after {
      position: absolute;
    content: "\f0d7";
    top: 15px;
    font-size: 30px;
    color: #000;
    right: 35px;
    width: 0;
    height: 0;
    font-family: FontAwesome;
    z-index: 500;
}
.select-selected:before { 
	position: absolute;
	content: ''; 
	right: 0px;
	top:0px;
	height: 100%;
	width: 50px;
  z-index: 200;
  background: #C8C8C8;
}
/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
     position: absolute;
    content: "\f0d8";
    top: 15px;
    font-size: 30px;
    color: #000;
    right: 35px;
    width: 0;
    height: 0;
    font-family: FontAwesome;
    z-index: 500;

}
/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
 font-size: 20px;
line-height: 20px;
color: #666666;
font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
font-weight: normal;
font-style: normal;
padding: 15px;
}
/*style items (options):*/
.select-items {
  position: absolute;
  background-color: #FFF;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 700;
}
/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}
.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}