// Media mixins  
@mixin laptop(){
	@media (max-width: 1200px){
		@content; 
	}
} 

@mixin tablet(){
	@media (max-width: 992px){
		@content; 
	}
} 

@mixin mobile(){
	@media (max-width: 768px){
		@content; 
	}
} 

@mixin ip5(){
	@media (max-width: 320px){
		@content; 
	}
} 


@mixin ipad-portrait(){
	@media only screen 
	and (min-device-width : 768px) 
	and (max-device-width : 1024px) 
	and (orientation : portrait) { @content;  }
}

@mixin ipad-landscape(){
	@media only screen 
	and (min-device-width : 768px) 
	and (max-device-width : 1024px) 
	and (orientation : landscape) { @content;  }
}

@mixin iphone-landscape(){
	@media only screen 
	and (min-device-width : 375px) 
	and (max-device-width : 667px) 
	and (orientation : landscape) { @content;  }
}

@mixin iphonex-landscape(){
	@media only screen 
	and (min-device-width : 375px) 
	and (max-device-width : 812px) 
	and (-webkit-device-pixel-ratio : 3)
	and (orientation : landscape) { @content; }
}

// Misc decoration
@mixin udlap_deco(){
	content: 'UDLAP'; 
	text-transform: uppercase;
	font-size: 30px;
	text-align: center;
	line-height: 30px;
	font-family: $rale;
	font-weight: 900;
	color: $orange;
}

@mixin udlap_anchor(){
	color: #2E8683;
	font-size: 18px;
	text-align: left;
	line-height: 18px;
	font-family: $rale;
	font-weight: 900;
}

@mixin absolute_center(){
	left: 50%;
	transform: translate(-50%, 0%);
}