$sticky-img: 320px;

.about {  
	&-proper{
		padding-top: 45px;
		&:after{
			position: absolute;
			content: '';
			width: 610px;
			height: 70px;
			left: 0px;
			top: -70px;
			z-index: 1100; 
			background: rgba($orange, 0.75);
			@include tablet(){
				width: calc(100% - 320px);
			}
			@include mobile(){
				width: calc(100% - 230px); 
			}
		}
		> img{
			position: absolute;
			right: 0px;
			top: 0px;
			z-index: 1100;
			@include tablet(){
				width: 320px;
			}
			@include mobile(){
				width: 230px;
			}
		}
		&.grid-left:before{
			@include laptop(){
				left: -80px;
			}
		}
	}
	&-block{
		border: 3px solid #D4D3D3;
		min-height: 530px;
		position: relative;
		margin-left: 130px;
		margin-right: 65px;
		@include laptop(){
			margin-left: 0px;
			    margin-right: 0px;
		}
		img.arrow{
			position: absolute;
			left: -55px;
			top: 75px;
			@include tablet(){
				top: 45px;
			}
			@include mobile(){
				left: 20px;
			    width: 80px;
			    top: 76px;
			}
		}
		.headliner{
			position: absolute;
			top: 115px;
			left: -55px;
			width: 385px;
			color: #3D3D3D;
			font-size: 100px;
			text-indent: 135px;
			line-height: 90px;
			font-family: $rale;
			font-weight: 900;
			@include tablet(){ 
			    top: 80px;
			    line-height: 90px;
			    font-size: 85px;
			    text-indent: 138px;
			}
			@include mobile(){
				left: 15px;
				width: 100%;
				top: 80px;
			    line-height: 86px;
			    font-size: 67px;
			    text-indent: 105px;
			}
		}
		.copy{
			position: absolute;
			bottom: 50px;
			max-height: 165px;
			padding-left: 100px;
			padding-right: 100px; 
			color: #7F7F7F;
			font-size: 16px;
			text-align: justify;
			line-height: 30px;
			font-family: $rale;
			font-weight: 400;
			@include tablet(){
				max-height: 250px;
				padding-left: 20px;
				padding-right: 20px;
			}
			@include mobile(){
				font-size: 12px;
				line-height: 24px;
			}
		}
		.sticky-about{
			position: absolute;
			bottom: -40px;
			right: 100px;
			bottom: -22px;
			@include tablet(){
				right: 42px;
			}
		}
	}
}