.banner{
	position: relative;
	z-index: 1000;
	height: 287px;
	&.wide{
		height: 815px;
	}
	&.home{
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		filter: alpha(opacity=100);
		background: transparent url(../img/mianbanner01.jpg?crc=499004826) no-repeat left top;
		background-size: cover;
		background-position: center center;
		display: flex;
		flex-direction: column;
		.headline{
			flex-grow: 1; 
			display: flex; 
			flex-wrap: wrap;
			justify-content: center;
			align-items: center; 
		}
	}
	&.inner:before{ 
		height: 287px;
	}
	&:before{
		content: '';
		position: absolute;
		z-index: 100;
		width: 100%;
		height: 383px;
		background: -webkit-gradient(linear, center top, center bottom, color-stop(40%, #000000),to(rgba(0,0,0,0)));
		background: -webkit-linear-gradient(top,#000000 40%,rgba(0,0,0,0) );
		background: linear-gradient(to bottom,#000000 40%,rgba(0,0,0,0) );
		filter: alpha(opacity=80) progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF000000, endColorstr=#00000000, GradientType=0);
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80) progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF000000', endColorstr='#00000000', GradientType=0)";
		opacity: 0.8;
		top: 0px;
		left: 0px;
	}
}