.inquiry{
	&-proper{
		position: relative; 
		.copy-block{
			padding: 55px 0px 55px 150px;
			position: relative;
			width: 630px;
			&:before{
				top: 40px;
			}
			@include laptop(){
				width: 540px;
			}
			@include mobile(){ 
				width: 100%;
				padding: 40px;
			}
			.headliner{
				text-transform: uppercase;	
				text-align: left;
				text-indent: -90px;
				.subheadline{
					text-indent: -0px;
					text-align: left;
					font-size: 28px;
					line-height: 34px;
					color: #2E8683;
					font-family: $rale;
					font-weight: 500;
				}
				@include mobile(){
					text-indent: 0px;
					font-size: 36px;
					line-height: 1.2;
				}
			}
			.copy{
				color: #7F7F7F;
				font-size: 15px;
				text-align: justify;
				line-height: 21px;
				font-family: $rale;
				font-weight: 600;
				width: 87%;
				margin-top: 10px;
			}
		}

	}//Inquiry proper
	&-block{
		    margin-top: 80px;
		position: relative;
		width: calc(100% - 150px);
		border: 3px solid #D4D3D3;
		@include mobile(){
			width: calc(100% - 30px);
			margin-left: 30px;
		}
		&:before{
			content: '';
			position: absolute;
			width: 66px; 
			height: 96px;
			background-image: url(../img/question.jpg);
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
			background-color: #FFF;
			padding: 15px 0px;
			top: 20px;
			left: -35px;
		}

		.form-block{
			position: absolute;
			right: -135px;
			top: 40px;
			width: 540px;
			@include laptop(){
				width: 360px;
			}
			@include mobile(){
				position: relative;
				padding: 10px;
				left: -40px;
				top: -10px;
				width: calc(100% + 25px);
			}

			.input-proper{
				width: 100%;
				margin-bottom: 15px;
				input, textarea{
					box-shadow: 0px 0px 35px rgba(0,0,0,0.3);
					border: 0px;
					padding: 10px 15px;
					width: 100%;
					font-size: 18px;
					line-height: 18px;
					color: #666666;
					font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
					font-weight: normal;
					font-style: normal;
				}
				textarea{
					resize: none;
					height: 100px;
				} 
			}
			@include mobile(){
				button{
					float: right;
				}
			}
			.sticky-inquiry{
				padding: 12px 50px;
			}
		}
	}//inquitry blcok


}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: #F15A24;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: #F15A24;
}

::-ms-input-placeholder { /* Microsoft Edge */
	color: #F15A24;
}