.sneakpeek{
	&-proper{
		position: relative;
		margin-bottom: 20px;
		// Video Block
		.video-block{
			position: absolute;
			top: -30px;
			right: 30px;
			background: $teal;
			height: 400px;
			width: 630px;
			@include laptop(){
				height: 340px;
				width: 535px;
				top: 80px;
			}
			@include tablet(){
				width: 610px;
			}
			@include mobile(){
				top: 115px;
				height: 200px;
				width: calc(100% - 30px);
			}
			iframe{
				margin-top: -30px;
				position: relative;
				right: -30px;
			}
		}
	}
	&-block{
		border: 3px solid #D4D3D3;
		min-height: 425px;
		position: relative;
		margin-right: 130px; 
		@include tablet(){
			margin-right: 55px;
		}
		@include mobile(){
			margin-right: 0px;
		}
		&:after{ 
			@include udlap_deco();
			position: absolute;
			top: -30px;
			left: 38%;
			background: #FFF;
			padding: 10px 100px 10px 20px;;
			@include laptop(){
				left: 75%;
				padding: 10px 20px;
			}
			@include mobile(){
				left: 55%;
				padding: 10px 10px 10px 20px;
			}
		}
		.copy-block{
			position: relative;
			padding: 80px 110px 35px 65px;
			width: 55%;
			@include tablet(){
				padding: 70% 110px 35px 65px;
				width: 100%;
			}
			@include mobile(){
				padding: 350px 15px 35px 15px;
			}
		}
		.pre-headline{
			vertical-align: middle;
			color: #BFBFBF;
			font-size: 32px;
			text-align: left;
			line-height: 32px;
			font-family: $rale;
			font-weight: 900;
			text-transform: uppercase; 
			img{
				display: inline-block;
				vertical-align: middle;
				margin-top: -10px;
				margin-right: 10px;
			}
		}
		.headline{
			color: #3D3D3D;
			font-size: 52px;
			text-align: left;
			line-height: 52px;
			font-family: $rale;
			font-weight: 900; 
			padding-top: 15px;
		}
		.copy{
			color: #7F7F7F;
			font-size: 15px;
			text-align: justify;
			line-height: 24px;
			font-family: $rale;
			font-weight: 400;
			padding: 15px 0px;
		}
		a{
			@include udlap_anchor();
		} 
		// 
	}
}