// Fonts
@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900');
$rale: 'Raleway', sans-serif;

// Colors
$orange: 	#FF6A00;
$teal: 		#2E8683;
$green: 	#254847;
$gray:		#203332;
$gray2:		#D4D3D3;

 // Fonts
